@font-face {
  font-family: "SEGA LOGO FONT";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("SEGA LOGO FONT"), url("SEGA.woff") format("woff");
}

h1,
.mv3.h1 {
  --color-one: #0ccac4;
  --color-two: #9eebcf;
  font-family: "SEGA LOGO FONT";
  font-weight: 200;
  font-size: min(3rem, 10vw);
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / 400% 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
  h1 {
    animation: move-bg 12s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: 400% 0;
    }
  }
}
.hidden {
  display: none !important;
}

.scroll {
  position: sticky;
  top: 0;
  z-index: 5;
  padding: 10px;
  background: linear-gradient(
    to left,
    #071b52,
    teal
  );
}
